@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Bellefair", serif;
}

p {
  font-family: "Barlow", sans-serif;
}

h5 {
  font-family: "Barlow Condensed", sans-serif;
}

body {
  background-image: url("/assets/home/background-home-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100vh;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
  margin-left: 24px;
  margin-right: 24px;
}
.nav__logo {
  width: 40px;
  height: 40px;
}
.nav__responsive .icon__close {
  display: none;
}
.nav__responsive .nav__ul {
  display: none;
}
.nav__responsive-active {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 254px;
  text-align: right;
  -webkit-backdrop-filter: blur(8.1px);
          backdrop-filter: blur(8.1px);
}
.nav__responsive-active .icon__close {
  margin-top: 33px;
  margin-right: 28px;
}
.nav__responsive-active .nav__ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 32px;
  margin-top: 54px;
}
.nav__responsive-active .nav__ul .ul__li {
  margin-bottom: 32px;
}
.nav__responsive-active .nav__ul .ul__li a {
  color: hsl(0, 0%, 100%);
}
.nav__responsive-active .nav__ul .ul__li a span {
  font-weight: 700;
  color: hsl(0, 0%, 100%);
  margin-right: 12px;
}

.main {
  text-align: center;
  color: hsl(231, 77%, 90%);
  max-width: 450px;
  margin: 0 auto;
  margin-top: 48px;
}
.main__h5 {
  font-size: 16px;
  margin-bottom: 16px;
  text-transform: uppercase;
  letter-spacing: 2.7px;
  font-weight: 300;
}
.main__h1 {
  color: hsl(0, 0%, 100%);
  font-size: 80px;
  text-transform: uppercase;
  margin-bottom: 16px;
  font-weight: 400;
  line-height: 100px;
}
.main__p {
  font-size: 15px;
  color: hsl(231, 77%, 90%);
  line-height: 25px;
  margin: 0 auto;
  margin-bottom: 81px;
  width: 327px;
}
.main__button {
  font-size: 20px;
  letter-spacing: 1.25px;
  color: hsl(230, 35%, 7%);
  border-radius: 50%;
  width: 150px;
  height: 150px;
  background-color: hsl(0, 0%, 100%);
  border: none;
  text-transform: uppercase;
  font-family: "bellefair";
  margin-bottom: 48px;
}

.destination {
  background-image: url("/assets/destination/background-destination-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100vh;
}

.main__destination h2 {
  color: hsl(0, 0%, 100%);
  text-transform: uppercase;
  font-size: 16px;
  font-family: "Barlow Condensed", sans-serif;
  letter-spacing: 2.7px;
  margin-bottom: 32px;
}
.main__destination h2 span {
  font-weight: 700;
  color: gray;
  margin-right: 18px;
}
.main__destination .main__img {
  width: 170px;
  height: 170px;
  margin: 0 auto;
  margin-bottom: 26px;
}
.main__destination .main__img img {
  width: 100%;
  height: auto;
}
.main__destination .destination__options {
  margin-bottom: 20px;
}
.main__destination .destination__options ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 26px;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 2.36px;
}
.main__destination .main__h1 {
  font-size: 56px;
}
.main__destination .destination__p {
  font-size: 15px;
  line-height: 25px;
  width: 327px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 32px;
}
.main__destination .rectangulo {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 32px;
  border-bottom: 1px solid hsl(0, 0%, 100%);
}
.main__destination .destination__info {
  margin-bottom: 32px;
  text-transform: uppercase;
}
.main__destination .destination__info p {
  font-size: 14px;
  letter-spacing: 2.36px;
  margin-bottom: 12px;
}
.main__destination .destination__info span {
  font-size: 28px;
  color: hsl(0, 0%, 100%);
}

.crew {
  background-image: url("/assets/crew/background-crew-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100vh;
}

.main__crew .crew__title {
  color: hsl(0, 0%, 100%);
  text-transform: uppercase;
  font-size: 16px;
  font-family: "Barlow Condensed", sans-serif;
  letter-spacing: 2.7px;
  margin-bottom: 32px;
}
.main__crew .crew__title span {
  font-weight: 700;
  color: gray;
  margin-right: 18px;
}
.main__crew .crew__img {
  width: 327px;
  height: 223px;
  border-bottom: 1px solid hsl(0, 0%, 100%);
  margin: 0 auto;
  margin-bottom: 26px;
}
.main__crew .crew__img img {
  width: auto;
  height: 100%;
}
.main__crew .crew__options {
  margin-bottom: 20px;
}
.main__crew .crew__options ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 16px;
  font-size: 14px;
  letter-spacing: 2.36px;
}
.main__crew .crew__options ul li {
  width: 10px;
  height: 10px;
  border-radius: 50px;
  background-color: hsl(231, 77%, 90%);
}
.main__crew .crew__h2 {
  font-family: "Bellefair", serif;
  font-size: 16px;
  color: hsl(0, 0%, 100%);
  text-transform: uppercase;
}
.main__crew .crew__h1 {
  font-family: "Bellefair", serif;
  font-size: 24px;
  text-transform: uppercase;
  color: hsl(0, 0%, 100%);
}
.main__crew .crew__p {
  font-size: 15px;
  line-height: 25px;
  width: 327px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 104px;
}

.technology {
  background-image: url("/assets/technology/background-technology-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100vh;
}

.main__technology .technology__title {
  color: hsl(0, 0%, 100%);
  text-transform: uppercase;
  font-size: 16px;
  font-family: "Barlow Condensed", sans-serif;
  letter-spacing: 2.7px;
  margin-bottom: 32px;
}
.main__technology .technology__title span {
  font-weight: 700;
  color: gray;
  margin-right: 18px;
}
.main__technology .technology__img {
  width: 100%;
  height: auto;
  margin: 0 auto;
  margin-bottom: 26px;
}
.main__technology .technology__img img {
  width: 100%;
  height: 100%;
}
.main__technology .technology__options {
  margin-bottom: 26px;
}
.main__technology .technology__options ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 26px;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 2.36px;
}
.main__technology .technology__options ul li {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid hsl(0, 0%, 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}
.main__technology .technology__data {
  width: 327px;
  margin: 0 auto;
}
.main__technology .technology__data .technology__h2 {
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Barlow Condensed", sans-serif;
  letter-spacing: 2.36px;
  margin-bottom: 9px;
}
.main__technology .technology__data .technology__h1 {
  text-transform: uppercase;
  font-size: 24px;
  font-family: "Bellefair", serif;
}
.main__technology .technology__data .technology__p {
  font-size: 15px;
  line-height: 25px;
  margin-top: 16px;
}/*# sourceMappingURL=style.css.map */