* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Bellefair", serif;
}

p {
  font-family: "Barlow", sans-serif;
}

h5 {
  font-family: "Barlow Condensed", sans-serif;
}

body {
  background-image: url("/assets/home/background-home-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100vh;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
  margin-left: 24px;
  margin-right: 24px;
}
.nav__logo {
  width: 40px;
  height: 40px;
}
.nav__buttons .icon__close {
  display: none;
  position: relative;
  z-index: 1000;
}
.nav__responsive {
  display: none;
}
.nav__responsive-active {
  display: inline-block;
  padding-top: 30px;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 254px;
  text-align: right;
  -webkit-backdrop-filter: blur(8.1px);
          backdrop-filter: blur(8.1px);
}
.nav__responsive-active .nav__ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 32px;
  margin-top: 54px;
}
.nav__responsive-active .nav__ul .ul__li {
  margin-bottom: 32px;
  font-family: "Barlow Condensed", sans-serif;
}
.nav__responsive-active .nav__ul .ul__li a {
  color: hsl(0, 0%, 100%);
}
.nav__responsive-active .nav__ul .ul__li a span {
  font-weight: 700;
  color: hsl(0, 0%, 100%);
  margin-right: 12px;
}

.main {
  text-align: center;
  color: hsl(231, 76%, 90%);
  max-width: 450px;
  margin: 0 auto;
  margin-top: 48px;
}
.main__h5 {
  font-size: 16px;
  margin-bottom: 16px;
  text-transform: uppercase;
  letter-spacing: 2.7px;
  font-weight: 400;
}
.main__h1 {
  color: hsl(0, 0%, 100%);
  font-size: 80px;
  text-transform: uppercase;
  margin-bottom: 16px;
  font-weight: 400;
  line-height: 100px;
}
.main__p {
  font-size: 15px;
  color: hsl(231, 76%, 90%);
  line-height: 25px;
  margin: 0 auto;
  margin-bottom: 81px;
  width: 327px;
}
.main__button {
  font-size: 20px;
  letter-spacing: 1.25px;
  color: hsl(230, 35%, 7%);
  border-radius: 50%;
  width: 150px;
  height: 150px;
  background-color: hsl(0, 0%, 100%);
  border: none;
  text-transform: uppercase;
  font-family: "bellefair";
  margin-bottom: 48px;
}

@media screen and (min-width: 768px) {
  body {
    background-image: url("/assets/home/background-home-tablet.jpg");
    height: auto;
  }
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    margin-left: 32px;
    margin-right: 0;
  }
  .nav__logo {
    width: 48px;
    height: 48px;
  }
  .nav__buttons {
    display: none;
  }
  .nav__responsive {
    display: inline-block;
    padding-top: 0;
    position: inherit;
    text-align: inherit;
    background-color: rgba(106, 106, 106, 0.1215686275);
    -webkit-backdrop-filter: inherit;
            backdrop-filter: inherit;
    width: 65%;
    max-width: 830px;
  }
  .nav__responsive .nav__ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 0;
    margin-top: 0;
    padding: 39px 46px 0 46px;
  }
  .nav__responsive .nav__ul .ul__li {
    border-bottom: 3px solid transparent;
    padding-bottom: 39px;
    margin-bottom: 0;
  }
  .nav__responsive .nav__ul .ul__li a {
    font-size: 14px;
    letter-spacing: 2.36px;
    color: hsl(0, 0%, 100%);
  }
  .nav__responsive .nav__ul .ul__li a span {
    display: none;
  }
  .nav__responsive .nav__ul .active {
    border-bottom: 3px solid rgb(255, 255, 255);
  }
  .main {
    margin-top: 106px;
  }
  .main__h5 {
    font-size: 20px;
    margin-bottom: 24px;
    letter-spacing: 3.38px;
  }
  .main__h1 {
    font-size: 150px;
    margin-bottom: 24px;
    line-height: 150px;
  }
  .main__p {
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 156px;
    width: 444px;
  }
  .main__button {
    font-size: 32px;
    letter-spacing: 2px;
    width: 242px;
    height: 242px;
    margin-bottom: 90px;
  }
}
@media screen and (min-width: 1200px) {
  body {
    background-image: url("/assets/home/background-home-desktop.jpg");
  }
  .nav {
    margin-left: 55px;
    margin-top: 40px;
  }
  .nav__responsive .nav__ul {
    padding: 39px 0 0 0;
    width: 542px;
    margin: 0 auto;
    gap: 48px;
  }
  .nav__responsive .nav__ul .ul__li:hover {
    border-bottom: 3px solid rgba(255, 255, 255, 0.5);
  }
  .nav__responsive .nav__ul .ul__li a {
    font-family: "Barlow Condensed", sans-serif;
    font-size: 16px;
    letter-spacing: 2.7px;
    display: flex;
    gap: 11px;
  }
  .nav__responsive .nav__ul .ul__li a span {
    display: inline-block;
  }
  .main {
    max-width: 100%;
    margin-top: 251px;
    text-align: left;
    display: grid;
    justify-content: space-between;
    grid-template-areas: "h5  ." "h1  button" "p  button";
  }
  .main__h5 {
    font-size: 28px;
    letter-spacing: 4.72px;
    grid-area: h5;
    margin-left: 165px;
  }
  .main__h1 {
    font-size: 150px;
    line-height: 172px;
    grid-area: h1;
    margin-left: 165px;
  }
  .main__p {
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 131px;
    margin-left: 165px;
    grid-area: p;
  }
  .main__button {
    width: 274px;
    height: 274px;
    margin-bottom: 131px;
    margin-right: 165px;
    margin-top: 50px;
    grid-area: button;
    transition: box-shadow 0.4s;
  }
  .main__button:hover {
    cursor: pointer;
    box-shadow: 0px 0px 0px 88px rgba(151, 151, 151, 0.1036);
  }
}
.destination {
  background-image: url("/assets/destination/background-destination-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100vh;
}

.main__destination {
  text-align: center;
}
.main__destination h2 {
  color: hsl(0, 0%, 100%);
  text-transform: uppercase;
  font-size: 16px;
  font-family: "Barlow Condensed", sans-serif;
  letter-spacing: 2.7px;
  margin-bottom: 32px;
  font-weight: 400;
}
.main__destination h2 span {
  font-weight: 700;
  color: gray;
  margin-right: 18px;
}
.main__destination .main__img {
  width: 170px;
  height: 170px;
  margin: 0 auto;
  margin-bottom: 26px;
}
.main__destination .main__img img {
  width: 100%;
  height: auto;
}
.main__destination .destination__options {
  margin-bottom: 12px;
}
.main__destination .destination__options ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 26px;
}
.main__destination .destination__options ul li {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 2.36px;
  color: hsl(231, 76%, 90%);
  padding-bottom: 8px;
  border-bottom: 3px solid transparent;
}
.main__destination .destination__options ul .active {
  color: hsl(0, 0%, 100%);
  border-bottom: 3px solid hsl(0, 0%, 100%);
}
.main__destination .main__h1 {
  font-size: 56px;
  margin-bottom: 0;
}
.main__destination .destination__p {
  font-size: 15px;
  line-height: 25px;
  width: 327px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 32px;
  color: hsl(231, 76%, 90%);
}
.main__destination .rectangulo {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 32px;
  border-bottom: 1px solid hsl(231, 76%, 90%);
}
.main__destination .destination__info {
  margin-bottom: 32px;
  text-transform: uppercase;
}
.main__destination .destination__info p {
  font-size: 14px;
  letter-spacing: 2.36px;
  margin-bottom: 12px;
  color: hsl(231, 76%, 90%);
}
.main__destination .destination__info span {
  font-size: 28px;
  color: hsl(0, 0%, 100%);
}

@media screen and (min-width: 768px) {
  .destination {
    background-image: url("/assets/destination/background-destination-tablet.jpg");
    height: 100%;
  }
  .main__destination {
    max-width: 100%;
    margin-top: 0;
  }
  .main__destination h2 {
    text-align: left;
    margin-left: 39px;
    margin-top: 40px;
    font-size: 20px;
    letter-spacing: 3.38px;
    margin-bottom: 60px;
  }
  .main__destination h2 span {
    margin-right: 19px;
  }
  .main__destination .main__img {
    width: 300px;
    height: 300px;
    margin-bottom: 63px;
  }
  .main__destination .destination__options {
    margin-bottom: 32px;
  }
  .main__destination .destination__options ul {
    gap: 35px;
  }
  .main__destination .destination__options ul li {
    font-size: 16px;
    letter-spacing: 2.7px;
    font-family: "Barlow Condensed", sans-serif;
  }
  .main__destination .main__h1 {
    font-size: 80px;
    line-height: 91px;
    margin-bottom: 8px;
  }
  .main__destination .destination__p {
    font-size: 16px;
    line-height: 28px;
    width: 573px;
    margin-bottom: 49px;
  }
  .main__destination .rectangulo {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 32px;
    border-bottom: 1px solid hsl(231, 76%, 90%);
  }
  .main__destination .destination__data {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 573px;
    margin: 0 auto;
  }
  .main__destination .destination__data .destination__info {
    margin-bottom: 62px;
    margin-top: 29px;
  }
  .main__destination .destination__data .destination__info span {
    line-height: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .destination {
    background-image: url("/assets/destination/background-destination-desktop.jpg");
    height: 100%;
  }
  .main__destination {
    max-width: 100%;
    margin-top: 76px;
    margin-left: 166px;
    display: grid;
    justify-content: start;
    grid-template-areas: "h2 h2" "image options" "image title" "image text" "image data";
    -moz-column-gap: 167px;
         column-gap: 167px;
  }
  .main__destination h2 {
    grid-area: h2;
    text-align: left;
    margin-left: 0;
    margin-top: 0;
    font-size: 28px;
    letter-spacing: 4.72px;
    margin-bottom: 64px;
  }
  .main__destination h2 span {
    margin-right: 28px;
  }
  .main__destination .main__img {
    grid-area: image;
    width: 445px;
    height: 445px;
    margin-bottom: 112px;
    margin-left: 64px;
  }
  .main__destination .destination__options {
    grid-area: options;
    margin-bottom: 37px;
    width: -moz-fit-content;
    width: fit-content;
  }
  .main__destination .destination__options ul li:hover {
    cursor: pointer;
    border-bottom: 3px solid #979797;
  }
  .main__destination .main__h1 {
    grid-area: title;
    font-size: 100px;
    line-height: 115px;
    margin-bottom: 14px;
    margin-left: 0;
  }
  .main__destination .destination__p {
    grid-area: text;
    font-size: 18px;
    line-height: 32px;
    width: 444px;
    margin-bottom: 54px;
    text-align: left;
  }
  .main__destination .rectangulo {
    display: none;
  }
  .main__destination .destination__data {
    grid-area: data;
    border-top: 1px solid hsl(231, 76%, 90%);
    padding-top: 29px;
    justify-content: flex-start;
    gap: 79px;
    width: 445px;
  }
  .main__destination .destination__data .destination__info {
    text-align: left;
    margin-bottom: 119px;
    margin-top: 0;
  }
}
.crew {
  background-image: url("/assets/crew/background-crew-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100vh;
}

.main__crew {
  text-align: center;
}
.main__crew .crew__title {
  color: hsl(0, 0%, 100%);
  text-transform: uppercase;
  text-align: center;
  margin-left: 0;
  font-size: 16px;
  font-family: "Barlow Condensed", sans-serif;
  letter-spacing: 2.7px;
  margin-bottom: 32px;
  font-weight: 400;
}
.main__crew .crew__title span {
  font-weight: 700;
  color: gray;
  margin-right: 18px;
}
.main__crew .crew__img {
  width: 327px;
  height: 223px;
  border-bottom: 1px solid hsl(231, 76%, 90%);
  margin: 0 auto;
  margin-bottom: 26px;
}
.main__crew .crew__img img {
  width: auto;
  height: 100%;
}
.main__crew .crew__options {
  margin-bottom: 32px;
}
.main__crew .crew__options ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 16px;
  font-size: 14px;
  letter-spacing: 2.36px;
}
.main__crew .crew__options ul li {
  width: 10px;
  height: 10px;
  border-radius: 50px;
  background-color: #979797;
}
.main__crew .crew__options ul li:hover {
  cursor: pointer;
  background-color: hsl(231, 76%, 90%);
}
.main__crew .crew__options ul .active {
  background-color: hsl(0, 0%, 100%);
}
.main__crew .crew__h2 {
  font-family: "Bellefair", serif;
  font-size: 16px;
  color: hsl(0, 0%, 100%);
  text-transform: uppercase;
  font-weight: 400;
  opacity: 49%;
  margin-bottom: 8px;
}
.main__crew .crew__h1 {
  font-family: "Bellefair", serif;
  font-size: 24px;
  text-transform: uppercase;
  color: hsl(0, 0%, 100%);
  font-weight: 400;
  margin-bottom: 16px;
}
.main__crew .crew__p {
  font-size: 15px;
  line-height: 25px;
  width: 327px;
  color: hsl(231, 76%, 90%);
  text-align: center;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .crew {
    background-image: url("/assets/crew/background-crew-tablet.jpg");
    height: 100%;
  }
  .main__crew {
    margin-top: 0;
    max-width: 100%;
    position: relative;
    display: grid;
    grid-template-areas: "number" "role" "name" "description" "options" "imagen";
  }
  .main__crew .crew__title {
    text-align: left;
    margin-left: 39px;
    margin-top: 40px;
    margin-bottom: 60px;
    grid-area: number;
    font-size: 20px;
    letter-spacing: 3.38px;
  }
  .main__crew .crew__title span {
    margin-right: 16px;
  }
  .main__crew .crew__img {
    width: 457px;
    height: 572px;
    border-bottom: none;
    margin-bottom: 0;
    grid-area: imagen;
  }
  .main__crew .crew__img img {
    width: auto;
    height: 100%;
  }
  .main__crew .crew__options {
    grid-area: options;
    margin-bottom: 40px;
  }
  .main__crew .crew__h2 {
    grid-area: role;
    font-size: 24px;
  }
  .main__crew .crew__h1 {
    grid-area: name;
    font-size: 40px;
  }
  .main__crew .crew__p {
    grid-area: description;
    width: 458px;
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .crew {
    background-image: url("/assets/crew/background-crew-desktop.jpg");
  }
  .main__crew {
    text-align: left;
    margin-top: 62px;
    max-width: 100%;
    margin-left: 166px;
    margin-right: 137px;
    display: grid;
    grid-template-areas: "title image" "role image" "name image" "description image" "options image";
  }
  .main__crew .crew__title {
    grid-area: title;
    text-align: left;
    margin-left: 0;
    margin-top: 14px;
    margin-bottom: 154px;
    font-size: 28px;
    letter-spacing: 4.72px;
  }
  .main__crew .crew__title span {
    margin-right: 24px;
  }
  .main__crew .crew__img {
    grid-area: image;
    width: 568px;
    height: 712px;
  }
  .main__crew .crew__options {
    grid-area: options;
    margin-bottom: 94px;
    width: -moz-fit-content;
    width: fit-content;
  }
  .main__crew .crew__options ul {
    gap: 24px;
  }
  .main__crew .crew__options ul li {
    width: 15px;
    height: 15px;
  }
  .main__crew .crew__h2 {
    grid-area: role;
    font-size: 32px;
    margin-bottom: 15px;
  }
  .main__crew .crew__h1 {
    grid-area: name;
    font-size: 56px;
    margin-bottom: 27px;
  }
  .main__crew .crew__p {
    grid-area: description;
    width: 444px;
    font-size: 18px;
    line-height: 32px;
    margin: initial;
    text-align: left;
    margin-bottom: 120px;
  }
}
.technology {
  background-image: url("/assets/technology/background-technology-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100vh;
}

.main__technology .technology__title {
  color: hsl(0, 0%, 100%);
  text-transform: uppercase;
  font-size: 16px;
  font-family: "Barlow Condensed", sans-serif;
  letter-spacing: 2.7px;
  margin-bottom: 32px;
  font-weight: 400;
}
.main__technology .technology__title span {
  font-weight: 700;
  color: gray;
  margin-right: 18px;
}
.main__technology .technology__img {
  width: 100%;
  height: auto;
  margin: 0 auto;
  margin-bottom: 34px;
}
.main__technology .technology__img img {
  width: 100%;
  height: 100%;
}
.main__technology .technology__img .img-desktop {
  display: none;
}
.main__technology .technology__options {
  margin-bottom: 26px;
}
.main__technology .technology__options ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 26px;
}
.main__technology .technology__options ul li {
  text-transform: uppercase;
  letter-spacing: 2.36px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid hsl(231, 76%, 90%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}
.main__technology .technology__options ul li:hover {
  color: hsl(230, 35%, 7%);
  background-color: white;
}
.main__technology .technology__options ul li:active {
  color: hsl(230, 35%, 7%);
  background-color: white;
}
.main__technology .technology__data {
  width: 327px;
  margin: 0 auto;
}
.main__technology .technology__data .technology__h2 {
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Barlow Condensed", sans-serif;
  letter-spacing: 2.36px;
  margin-bottom: 9px;
  font-weight: 400;
  color: hsl(231, 76%, 90%);
}
.main__technology .technology__data .technology__h1 {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 400;
  color: hsl(0, 0%, 100%);
  font-family: "Bellefair", serif;
}
.main__technology .technology__data .technology__p {
  font-size: 15px;
  line-height: 25px;
  margin-top: 16px;
  color: hsl(231, 76%, 90%);
}

@media screen and (min-width: 768px) {
  .technology {
    background-image: url("/assets/technology/background-technology-tablet.jpg");
    height: 100%;
  }
  .main__technology {
    max-width: 100%;
  }
  .main__technology .technology__title {
    text-align: left;
    margin-left: 39px;
    font-size: 20px;
    letter-spacing: 3.38px;
    margin-bottom: 60px;
    margin-top: 40px;
  }
  .main__technology .technology__title span {
    margin-right: 19px;
  }
  .main__technology .technology__img {
    margin-bottom: 56px;
  }
  .main__technology .technology__options {
    margin-bottom: 44px;
  }
  .main__technology .technology__options ul {
    gap: 16px;
  }
  .main__technology .technology__options ul li {
    letter-spacing: 1.5px;
    width: 60px;
    height: 60px;
    font-size: 24px;
  }
  .main__technology .technology__data {
    width: 458px;
  }
  .main__technology .technology__data .technology__h2 {
    font-size: 16px;
    letter-spacing: 2.7px;
    margin-bottom: 16px;
  }
  .main__technology .technology__data .technology__h1 {
    font-size: 40px;
  }
  .main__technology .technology__data .technology__p {
    font-size: 16px;
    line-height: 28px;
    margin-top: 16px;
    margin-bottom: 97px;
  }
}
@media screen and (min-width: 1200px) {
  .technology {
    background-image: url("/assets/technology/background-technology-desktop.jpg");
  }
  .main__technology {
    max-width: 100%;
    margin-left: 166px;
    display: grid;
    grid-template-areas: "title title ." "options data image" "options data image";
  }
  .main__technology .technology__title {
    grid-area: title;
    text-align: left;
    margin-left: 0;
    font-size: 28px;
    letter-spacing: 4.72px;
    margin-bottom: 26px;
    margin-top: 76px;
  }
  .main__technology .technology__title span {
    margin-right: 24px;
  }
  .main__technology .technology__img {
    grid-area: image;
    margin-bottom: 101px;
  }
  .main__technology .technology__img .img-mobile {
    display: none;
  }
  .main__technology .technology__img .img-desktop {
    display: inline-block;
  }
  .main__technology .technology__options {
    grid-area: options;
    margin-bottom: 0;
    margin-top: 111px;
  }
  .main__technology .technology__options ul {
    flex-direction: column;
    gap: 32px;
  }
  .main__technology .technology__options ul li {
    letter-spacing: 2px;
    width: 80px;
    height: 80px;
    font-size: 32px;
  }
  .main__technology .technology__data {
    grid-area: data;
    width: 470px;
    margin-left: 80px;
    margin-right: 130px;
    margin-top: 111px;
    text-align: left;
  }
  .main__technology .technology__data .technology__h2 {
    margin-bottom: 11px;
  }
  .main__technology .technology__data .technology__h1 {
    font-size: 56px;
  }
  .main__technology .technology__data .technology__p {
    font-size: 18px;
    line-height: 32px;
    margin-top: 17px;
    margin-bottom: 0;
  }
}/*# sourceMappingURL=style.css.map */