*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: 'Bellefair', serif;
}

p{
    font-family: 'Barlow', sans-serif;
}

h5{
    font-family: 'Barlow Condensed', sans-serif;
}