body{
    background-image: url('/assets/home/background-home-mobile.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
    margin-left: 24px;
    margin-right: 24px;

    &__logo{
        width: 40px;
        height: 40px;
    }

    &__buttons{

        .icon__close{
            display: none;
            position: relative;
            z-index: 1000;
        }
    }

    &__responsive{
        display: none;
    }

    &__responsive-active{
        display: inline-block;
        padding-top: 30px;
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        width: 254px;
        text-align: right;
        backdrop-filter: blur(8.1px);

        .nav__ul{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-left: 32px;
            margin-top: 54px;

            .ul__li{
                text-align: left;
                width: 100%;
                margin-bottom: 32px;
                font-family: 'Barlow Condensed', sans-serif;

                a{
                    color: $white;

                    span{
                        font-weight: 700;
                        color: $white;
                        margin-right: 12px;
                    }
                }
            }

            .active{
                border-right: 3px solid rgb(255, 255, 255);
            }
        }
    }
}

.main{
    text-align: center;
    color: $sky;
    max-width: 450px;
    margin: 0 auto;
    margin-top: 48px;

    &__h5{
        font-size: 16px;
        margin-bottom: 16px;
        text-transform: uppercase;
        letter-spacing: 2.7px;
        font-weight: 400;
    }

    &__h1{
        color: $white;
        font-size: 80px;
        text-transform: uppercase;
        margin-bottom: 16px;
        font-weight: 400;
        line-height: 100px;
    }

    &__p{
        font-size: 15px;
        color: $sky;
        line-height: 25px;
        margin: 0 auto;
        margin-bottom: 81px;
        width: 327px;
    }

    &__button{
        font-size: 20px;
        letter-spacing: 1.25px;
        border-radius: 50%;
        width: 150px;
        height: 150px;
        background-color: $white;
        border: none;
        text-transform: uppercase;
        font-family: 'bellefair';
        margin-bottom: 48px;

        a{
            color: $body-bg;
        }
    }
}

@media screen and (min-width:768px) {
    body{
        background-image: url('/assets/home/background-home-tablet.jpg');
        height: auto;
    }
    
    .nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 0;
        margin-left: 32px;
        margin-right: 0;
    
        &__logo{
            width: 48px;
            height: 48px;
        }
    
        &__buttons{
            display: none;
        }
    
        &__responsive{
            display: inline-block;
            padding-top: 0;
            position: inherit;
            text-align: inherit;
            background-color: #6a6a6a1f;
            backdrop-filter: inherit;
            width: 65%;
            max-width: 830px;
    
            .nav__ul{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                margin-left: 0;
                margin-top: 0;
                padding: 39px 46px 0 46px;
                
                .ul__li{
                    width: auto;
                    border-bottom: 3px solid transparent;
                    padding-bottom: 39px;
                    margin-bottom: 0;
    
                    a{
                        font-size: 14px;
                        letter-spacing: 2.36px;

                        span{
                            display: none;
                        }
    
                        color: $white;
                    }
                }

                .active{
                    border-bottom: 3px solid rgb(255, 255, 255);
                    border-right: none;
                }
            }
        }
    }
    
    .main{
        margin-top: 106px;
    
        &__h5{
            font-size: 20px;
            margin-bottom: 24px;
            letter-spacing: 3.38px;
        }
    
        &__h1{
            font-size: 150px;
            margin-bottom: 24px;
            line-height: 150px;
        }
    
        &__p{
            font-size: 16px;
            line-height: 28px;
            margin-bottom: 156px;
            width: 444px;
        }
    
        &__button{
            font-size: 32px;
            letter-spacing: 2px;
            width: 242px;
            height: 242px;
            margin-bottom: 90px;
        }
    }
}

@media screen and (min-width:1200px) {
    body{
        background-image: url('/assets/home/background-home-desktop.jpg');
    }
    
    .nav{
        margin-left: 55px;
        margin-top: 40px;
    
        &__responsive{
    
            .nav__ul{
                padding: 39px 0 0 0;
                width: 542px;
                margin: 0 auto;
                gap: 48px;
                
                .ul__li{

                    &:hover{
                        border-bottom: 3px solid rgba(255, 255, 255, 50%);
                    }
    
                    a{
                        font-family: 'Barlow Condensed', sans-serif;
                        font-size: 16px;
                        letter-spacing: 2.7px;
                        display: flex;
                        gap: 11px;

                        span{
                            display: inline-block;
                        }
    
                    }
                }
            }
        }
    }
    
    .main{
        max-width: 100%;
        margin-top: 251px;
        text-align: left;
        display: grid;
        justify-content: space-between;
        grid-template-areas: 
        "h5  ."
        "h1  button"
        "p  button";
    
        &__h5{
            font-size: 28px;
            letter-spacing: 4.72px;
            grid-area: h5;
            margin-left: 165px;
        }
    
        &__h1{
            font-size: 150px;
            line-height: 172px;
            grid-area: h1;
            margin-left: 165px;
        }
    
        &__p{
            font-size: 18px;
            line-height: 32px;
            margin-bottom: 131px;
            margin-left: 165px;
            grid-area: p;
        }
    
        &__button{
            width: 274px;
            height: 274px;
            margin-bottom: 131px;
            margin-right: 165px;
            margin-top: 50px;
            grid-area: button;
            transition: box-shadow .4s;

            &:hover{
                cursor: pointer;
                box-shadow: 0px 0px 0px 88px rgba(151, 151, 151, 10.36%);
            }
        }
    }
}