// Variables

// Colors
$body-bg: hsl(230, 35, 7);
$sky: hsl(231, 76%, 90%);
$white: hsl(0, 0, 100);

@import 'general';
@import 'main';
@import 'pages/destination';
@import 'pages/crew';
@import 'pages/technology';