.crew{
    background-image: url('/assets/crew/background-crew-mobile.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;
}

.main__crew{

    .crew__title{
        color: $white;
        text-transform: uppercase;
        // margin-left: 18px;
        font-size: 16px;
        font-family: 'Barlow Condensed', sans-serif;
        letter-spacing: 2.7px;
        margin-bottom: 32px;

        span{
            font-weight: 700;
            color: gray;
            margin-right: 18px;
        }
    }

    .crew__img{
        width: 327px;
        height: 223px;
        border-bottom: 1px solid $white;
        margin: 0 auto;
        margin-bottom: 26px;

        img{
            width: auto;
            height: 100%;
        }
    }

    .crew__options{
        margin-bottom: 20px;

        ul{
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 16px;
            // text-transform: uppercase;
            font-size: 14px;
            letter-spacing: 2.36px;

            li{
                width: 10px;
                height: 10px;
                border-radius: 50px;
                background-color: $sky;
            }
        }
    }

    .crew__h2{
        font-family: 'Bellefair', serif;
        font-size: 16px;
        color: $white;
        text-transform: uppercase;
    }

    .crew__h1{
        font-family: 'Bellefair', serif;
        font-size: 24px;
        text-transform: uppercase;
        color: $white;
    }

    .crew__p{
        font-size: 15px;
        line-height: 25px;
        width: 327px;
        // max-width: 450px;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 104px;
    }

}