.crew{
    background-image: url('/assets/crew/background-crew-mobile.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;
}

.main__crew{

    .crew__title{
        color: $white;
        text-transform: uppercase;
        text-align: center;
        margin-left: 0;
        font-size: 16px;
        font-family: 'Barlow Condensed', sans-serif;
        letter-spacing: 2.7px;
        margin-bottom: 32px;
        font-weight: 400;

        span{
            font-weight: 700;
            color: gray;
            margin-right: 18px;
        }
    }

    .crew__img{
        width: 327px;
        height: 223px;
        border-bottom: 1px solid $sky;
        margin: 0 auto;
        margin-bottom: 26px;

        img{
            width: auto;
            height: 100%;
        }
    }

    .crew__options{
        margin-bottom: 32px;

        ul{
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 16px;
            // text-transform: uppercase;
            font-size: 14px;
            letter-spacing: 2.36px;

            li{
                width: 10px;
                height: 10px;
                border-radius: 50px;
                background-color: $sky;

                &:active{
                    background-color: $white;
                }

                &:hover{
                    background-color: $white;
                }
            }
        }
    }

    .crew__h2{
        font-family: 'Bellefair', serif;
        font-size: 16px;
        color: $white; // mas oscuro
        text-transform: uppercase;
        font-weight: 400;
        opacity: 49%;
        margin-bottom: 8px;
    }

    .crew__h1{
        font-family: 'Bellefair', serif;
        font-size: 24px;
        text-transform: uppercase;
        color: $white;
        font-weight: 400;
        margin-bottom: 16px;
    }

    .crew__p{
        font-size: 15px;
        line-height: 25px;
        width: 327px;
        color: $sky;
        text-align: center;
        margin: 0 auto;
    }

}

@media screen and (min-width:768px) {
    .crew{
        background-image: url('/assets/crew/background-crew-tablet.jpg');
        height: 100%;
    }
    
    .main__crew{
        margin-top: 0;
        max-width: 100%;
        position: relative;
        display: grid;
        grid-template-areas: 
        "number"
        "role"
        "name"
        "description"
        "options"
        "imagen";
    
        .crew__title{
            text-align: left;
            margin-left: 39px;
            margin-top: 40px;
            margin-bottom: 60px;
            grid-area: number;
            font-size: 20px;
            letter-spacing: 3.38px;
    
            span{
                margin-right: 16px;
            }
        }
    
        .crew__img{
            width: 457px;
            height: 572px;
            border-bottom: none;
            margin-bottom: 0;
            grid-area: imagen;
    
            img{
                width: auto;
                height: 100%;
            }
        }
    
        .crew__options{
            grid-area: options;
            margin-bottom: 40px;
        }
    
        .crew__h2{
            grid-area: role;
            font-size: 24px;
        }
    
        .crew__h1{
            grid-area: name;
            font-size: 40px;
        }
    
        .crew__p{
            grid-area: description;
            width: 458px;
            font-size: 16px;
            line-height: 28px;
            margin-bottom: 40px;
        }
    
    }
}

@media screen and (min-width:1200px) {
    .crew{
        background-image: url('/assets/crew/background-crew-desktop.jpg');
    }
    
    .main__crew{
        margin-top: 62px;
        max-width: 100%;
        margin-left: 166px;
        margin-right: 137px;
        display: grid;
        grid-template-areas: 
        "title image"
        "role image"
        "name image"
        "description image"
        "options image";
    
        .crew__title{
            grid-area: title;
            text-align: left;
            margin-left: 0;
            margin-top: 14px;
            margin-bottom: 154px;
            font-size: 28px;
            letter-spacing: 4.72px;
    
            span{
                margin-right: 24px;
            }
        }
    
        .crew__img{
            grid-area: image;
            width: 568px;
            height: 712px;
        }
    
        .crew__options{
            grid-area: options;
            margin-bottom:94px;
            width: fit-content;

            ul{
                gap: 24px;

                li{
                    width: 15px;
                    height: 15px;
                }
            }
        }
    
        .crew__h2{
            grid-area: role;
            font-size: 32px;
            margin-bottom: 15px;
        }
    
        .crew__h1{
            grid-area: name;
            font-size: 56px;
            margin-bottom: 27px;
        }
    
        .crew__p{
            grid-area: description;
            width: 444px;
            font-size: 18px;
            line-height: 32px;
            margin: initial;
            text-align: left;
            margin-bottom: 120px;
        }
    
    }
}