.destination{
    background-image: url('/assets/destination/background-destination-mobile.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;
}

.main__destination{

    h2{
        color: $white;
        text-transform: uppercase;
        // margin-left: 18px;
        font-size: 16px;
        font-family: 'Barlow Condensed', sans-serif;
        letter-spacing: 2.7px;
        margin-bottom: 32px;
        font-weight: 400;

        span{
            font-weight: 700;
            color: gray;
            margin-right: 18px;
        }
    }

    .main__img{
        width: 170px;
        height: 170px;
        margin: 0 auto;
        margin-bottom: 26px;

        img{
            width: 100%;
            height: auto;
        }
    }

    .destination__options{
        margin-bottom: 12px;

        ul{
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 26px;

            li{
                text-transform: uppercase;
                font-size: 14px;
                letter-spacing: 2.36px;
                color: $sky;
                padding-bottom: 8px;

                &:hover{
                    color: $white;
                    border-bottom: 3px solid $white;
                }
            }
        }
    }

    .main__h1{
        font-size: 56px;
        margin-bottom: 0;
    }

    .destination__p{
        font-size: 15px;
        line-height: 25px;
        width: 327px;
        // max-width: 450px;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 32px;
        color: $sky;
    }

    .rectangulo{
        width: 90%;
        margin: 0 auto;
        margin-bottom: 32px;
        border-bottom: 1px solid $sky;
    }

    .destination__info{
        margin-bottom: 32px;
        text-transform: uppercase;

        p{
            font-size: 14px;
            letter-spacing: 2.36px;
            margin-bottom: 12px;
            color: $sky;
        }

        span{
            font-size: 28px;
            color: $white;
        }
    }
}