.destination{
    background-image: url('/assets/destination/background-destination-mobile.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;
}

.main__destination{

    h2{
        color: $white;
        text-transform: uppercase;
        font-size: 16px;
        font-family: 'Barlow Condensed', sans-serif;
        letter-spacing: 2.7px;
        margin-bottom: 32px;
        font-weight: 400;

        span{
            font-weight: 700;
            color: gray;
            margin-right: 18px;
        }
    }

    .main__img{
        width: 170px;
        height: 170px;
        margin: 0 auto;
        margin-bottom: 26px;

        img{
            width: 100%;
            height: auto;
        }
    }

    .destination__options{
        margin-bottom: 12px;

        ul{
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 26px;

            li{
                text-transform: uppercase;
                font-size: 14px;
                letter-spacing: 2.36px;
                color: $sky;
                padding-bottom: 8px;

                &:hover{
                    color: $white;
                    border-bottom: 3px solid $white;
                }
            }
        }
    }

    .main__h1{
        font-size: 56px;
        margin-bottom: 0;
    }

    .destination__p{
        font-size: 15px;
        line-height: 25px;
        width: 327px;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 32px;
        color: $sky;
    }

    .rectangulo{
        width: 90%;
        margin: 0 auto;
        margin-bottom: 32px;
        border-bottom: 1px solid $sky;
    }

    .destination__info{
        margin-bottom: 32px;
        text-transform: uppercase;

        p{
            font-size: 14px;
            letter-spacing: 2.36px;
            margin-bottom: 12px;
            color: $sky;
        }

        span{
            font-size: 28px;
            color: $white;
        }
    }
}

@media screen and (min-width:768px) {
    .destination{
        background-image: url('/assets/destination/background-destination-tablet.jpg');
        height: 100%;
    }
    
    .main__destination{
        max-width: 100%;
        margin-top: 0;
    
        h2{
            text-align: left;
            margin-left: 39px;
            margin-top: 40px;
            font-size: 20px;
            letter-spacing: 3.38px;
            margin-bottom: 60px;
    
            span{
                margin-right: 19px;
            }
        }
    
        .main__img{
            width: 300px;
            height: 300px;
            margin-bottom: 63px;
        }
    
        .destination__options{
            margin-bottom: 32px;
    
            ul{
                gap: 35px;
    
                li{
                    font-size: 16px;
                    letter-spacing: 2.7px;
                    font-family: 'Barlow Condensed', sans-serif;
                }
            }
        }
    
        .main__h1{
            font-size: 80px;
            line-height: 91px;
            margin-bottom: 8px;
        }
    
        .destination__p{
            font-size: 16px;
            line-height: 28px;
            width: 573px;
            margin-bottom: 49px;
        }
    
        .rectangulo{
            width: 90%;
            margin: 0 auto;
            margin-bottom: 32px;
            border-bottom: 1px solid $sky;
        }
    
        .destination__data{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            width: 573px;
            margin: 0 auto;

            .destination__info{
                margin-bottom: 62px;
                margin-top: 29px;
        
                span{
                    line-height: 32px;
                }
            }
        }
    }
}

@media screen and (min-width:1200px) {
    .destination{
        background-image: url('/assets/destination/background-destination-desktop.jpg');
        height: 100%;
    }

    // .main{
    //     display: inherit;
    // }
    
    .main__destination{
        max-width: 100%;
        margin-top: 76px;
        margin-left: 166px;
        display: grid;
        justify-content: start;
        grid-template-areas: 
            "h2 h2"
            "image options"
            "image title"
            "image text"
            "image data";
        column-gap: 167px;
    
        h2{
            grid-area: h2;
            text-align: left;
            margin-left: 0;
            margin-top: 0;
            font-size: 28px;
            letter-spacing: 4.72px;
            margin-bottom: 64px;
    
            span{
                margin-right: 28px;
            }
        }
    
        .main__img{
            grid-area: image;
            width: 445px;
            height: 445px;
            margin-bottom: 112px;
            margin-left: 64px;
        }
    
        .destination__options{
            grid-area: options;
            margin-bottom: 37px;
            width: fit-content;
        }
    
        .main__h1{
            grid-area: title;
            font-size: 100px;
            line-height: 115px;
            margin-bottom: 14px;
            margin-left: 0;
        }
    
        .destination__p{
            grid-area: text;
            font-size: 18px;
            line-height: 32px;
            width: 444px;
            margin-bottom: 54px;
            text-align: left;
        }
    
        .rectangulo{
            display: none;
        }
    
        .destination__data{
            grid-area: data;
            border-top: 1px solid $sky;
            padding-top: 29px;
            justify-content: flex-start;
            gap: 79px;
            width: 445px;

            .destination__info{
                text-align: left;
                margin-bottom: 119px;
                margin-top: 0;
            }
        }
    }
}