.technology{
    background-image: url('/assets/technology/background-technology-mobile.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;
}

.main__technology{

    .technology__title{
        color: $white;
        text-transform: uppercase;
        font-size: 16px;
        font-family: 'Barlow Condensed', sans-serif;
        letter-spacing: 2.7px;
        margin-bottom: 32px;
        font-weight: 400;

        span{
            font-weight: 700;
            color: gray;
            margin-right: 18px;
        }
    }

    .technology__img{
        width: 100%;
        height: auto;
        margin: 0 auto;
        margin-bottom: 34px;

        img{
            width: 100%;
            height: 100%;
        }

        .img-desktop{
            display: none;
        }
    }

    .technology__options{
        margin-bottom: 26px;

        ul{
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 26px;

            li{
                text-transform: uppercase;
                letter-spacing: 2.36px;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background-color: transparent;
                border: 1px solid $sky;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 16px;

                &:hover{
                    color: $body-bg;
                    background-color: white;
                }

                &:active{
                    color: $body-bg;
                    background-color: white;
                }
            }
        }
    }

    .technology__data{
        width: 327px;
        margin: 0 auto;

        .technology__h2{
            text-transform: uppercase;
            font-size: 14px;
            font-family: 'Barlow Condensed', sans-serif;
            letter-spacing: 2.36px;
            margin-bottom: 9px;
            font-weight: 400;
            color: $sky;
        }

        .technology__h1{
            text-transform: uppercase;
            font-size: 24px;
            font-weight: 400;
            color: $white;
            font-family: 'Bellefair', serif;
        }

        .technology__p{
            font-size: 15px;
            line-height: 25px;
            margin-top: 16px;
            color: $sky;
        }
    }
}

@media screen and (min-width: 768px) {
    .technology{
        background-image: url('/assets/technology/background-technology-tablet.jpg');
        height: 100%;
    }
    
    .main__technology{
        max-width: 100%;
    
        .technology__title{
            text-align: left;
            margin-left: 39px;
            font-size: 20px;
            letter-spacing: 3.38px;
            margin-bottom: 60px;
            margin-top: 40px;
    
            span{
                margin-right: 19px;
            }
        }
    
        .technology__img{
            margin-bottom: 56px;
        }
    
        .technology__options{
            margin-bottom: 44px;
    
            ul{
                gap: 16px;
    
                li{
                    letter-spacing: 1.5px;
                    width: 60px;
                    height: 60px;
                    font-size: 24px;
                }
            }
        }
    
        .technology__data{
            width: 458px;
    
            .technology__h2{
                font-size: 16px;
                letter-spacing: 2.7px;
                margin-bottom: 16px;
            }
    
            .technology__h1{
                font-size: 40px;
            }
    
            .technology__p{
                font-size: 16px;
                line-height: 28px;
                margin-top: 16px;
                margin-bottom: 97px;
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    .technology{
        background-image: url('/assets/technology/background-technology-desktop.jpg');
        // height: 100%;
    }

    // .main{
    //     margin-top: 0;
    // }
    
    .main__technology{
        max-width: 100%;
        margin-left: 166px;
        display: grid;
        grid-template-areas: 
            "title title ."
            "options data image"
            "options data image";
    
        .technology__title{
            grid-area: title;
            text-align: left;
            margin-left: 0;
            font-size: 28px;
            letter-spacing: 4.72px;
            margin-bottom: 26px;
            margin-top: 76px;
    
            span{
                margin-right: 24px;
            }
        }
    
        .technology__img{
            grid-area: image;
            margin-bottom: 101px;

            .img-mobile{
                display: none;
            }

            .img-desktop{
                display: inline-block;
            }
        }
    
        .technology__options{
            grid-area: options;
            margin-bottom: 0;
            margin-top: 111px;
    
            ul{
                flex-direction: column;
                gap: 32px;
    
                li{
                    letter-spacing: 2px;
                    width: 80px;
                    height: 80px;
                    font-size: 32px;
                }
            }
        }
    
        .technology__data{
            grid-area: data;
            width: 470px;
            margin-left: 80px;
            margin-right: 130px;
            margin-top: 111px;
            text-align: left;
    
            .technology__h2{
                // font-size: 16px;
                // letter-spacing: 2.7px;
                margin-bottom: 11px;
            }
    
            .technology__h1{
                font-size: 56px;
            }
    
            .technology__p{
                font-size: 18px;
                line-height: 32px;
                margin-top: 17px;
                margin-bottom: 0;
            }
        }
    }
}